*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px 0px;
}
/* Header-section-style */
.header{
    background: #fff4e7;
    padding: 30px 0px;
 
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 75em;
    margin: auto;
    align-items: center;
}
.logo{
    font-size: 1.2em;
    font-weight: 700;
    color: #131313;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul a{
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.125em;
    color: #424242;
}
/* brand section style */
.brand-sec{
    background: #fff4e7;
    padding: 70px 0 50px 0;
}
.brand-container{
    width: 75em;
    margin: auto;
    text-align: center;
}
.brand-items{
    width: 70%;
    margin: auto;
}
.brand-items h1{
    font-size: 4em;
    margin-bottom: 10px;
    color: #131313;
    font-weight: 700;
}
.brand-items p{
    font-size: 1em;
    color: #727272;
    line-height: 26px;
    margin: 20px 0;
}
.pramary-btn{
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    transition: .4s;
}
.pramary-btn a{
    font-size: 1.250em;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
 

}
.pramary-btn:hover{
    padding: 20px 25px;
    background: #d67505;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
.banner img{
    justify-content: center;
    width: 75em;
    height: 37em;
    margin-top: 50px;
}
/* feature section style */
.featurs-sec{
    margin: 80px 0;
}
.feature-container{
    width: 75em;
    margin: auto;
}
.feature-items{
    display: flex;
    gap: 70px;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.500em;
    row-gap: 1.500em;
}
.feature-info .quick{
    font-size: 2.4em;
    font-weight: 500;
    color: #727272;
}
.feature-info .our{
    font-size: 2.4em;
    font-weight: 700;
    color: #131313;

}
.feature-info .feature{  
    font-size: 2.4em;
    font-weight: 700;
    color: #FF900E;
}
.feature-info p{
    font-size: 16px;
    color: #727272;
    margin: 20px 0;
    line-height: 26px;
}
/* feature option style */
.feature-option{
    margin: 130px 0px;
    display: flex;
}
.feature-op-left{
    width: 50%;
}
.feature-op-ti-contain{
    display: flex;
    gap: 10px;
    line-height: 52px;
    color: #131313;
}
.ti-div-1{
    height: 106px;
    width: 5px;
    background: #FF900E;
}
.ti-div-2 h1{
    font-size: 2.813em;
    font-weight: 700;
}
.feature-op-right{
    width: 50%;
}
.feature-op-right img{
    width: 100%;
}














/* Responsive media quariy */
/* Mobile Device */
@media only screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 100%;
        
    }
    .menu ul a{
        margin-top: 10px;
        margin-right: 0px;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
    }
    /* brand section */
    .brand-sec{
        background: #fff4e7;
        padding: 20px 0 50px 0;
    }
    .brand-container{
        width: 100%;
    }
    .banner img{
        width: 80%;
        height: auto;
    }

    .brand-items h1{
        font-size: 3em;
        margin-bottom: 10px;
        color: #131313;
        font-weight: 700;
    }
    /* feature section responsive style */
    .feature-container{
        width: 100%;
    }
    .feature-items{
        flex-direction: column;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.500em;
    }
    .feature-info{
        text-align: center;
        width: 80%;
        margin: auto;
    }


}