*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px 0px;
}
p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #727272;
}
/* Header-section-style */
.header{
    background: #fff4e7;
    padding: 30px 0px;
 
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 75em;
    margin: auto;
    align-items: center;
}
.logo{
    font-size: 1.2em;
    font-weight: 700;
    color: #131313;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul a{
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.125em;
    color: #424242;
}
/* brand section style */
.brand-sec{
    background: #fff4e7;
    padding: 70px 0 50px 0;
}
.brand-container{
    width: 75em;
    margin: auto;
    text-align: center;
}
.brand-items{
    width: 70%;
    margin: auto;
}
.brand-items h1{
    font-size: 4em;
    margin-bottom: 10px;
    color: #131313;
    font-weight: 700;
}
.brand-items p{
    font-size: 1em;
    color: #727272;
    line-height: 26px;
    margin: 20px 0;
}
.pramary-btn{
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    transition: .4s;
}
.pramary-btn a{
    font-size: 1.250em;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
 

}
.pramary-btn:hover{
    padding: 20px 25px;
    background: #d67505;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
.banner img{
    justify-content: center;
    width: 75em;
    height: 37em;
    margin-top: 50px;
}
/* feature section style */
.featurs-sec{
    margin: 80px 0;
}
.feature-container{
    width: 75em;
    margin: auto;
}
.feature-items{
    display: flex;
    gap: 70px;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.500em;
    row-gap: 1.500em;
}
.feature-info .quick{
    font-size: 2.4em;
    font-weight: 500;
    color: #727272;
}
.feature-info .our{
    font-size: 2.4em;
    font-weight: 700;
    color: #131313;

}
.feature-info .feature{  
    font-size: 2.4em;
    font-weight: 700;
    color: #FF900E;
}
.feature-info p{
    font-size: 16px;
    color: #727272;
    margin: 20px 0;
    line-height: 26px;
}
/* feature option style */
.feature-option{
    margin: 130px 0px;
    display: flex;
    gap: 60px;
}
.feature-op-left{
    width: 50%;
}
.feature-op-left p{
    margin: 25px 0;
}
.feature-op-ti-contain{
    display: flex;
    gap: 10px;
    line-height: 52px;
    color: #131313;
}
.ti-div-1{
    height: 106px;
    width: 5px;
    background: #FF900E;
}
.ti-div-2 h1{
    font-size: 2.813em;
    font-weight: 700;
}
.feature-op-right{
    width: 50%;
}
img{
    width: 100%;
}
.feature-box-1{
    box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, .05);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-box-1 h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.feature-box-1 p{
    margin: 10px 0;
}
.expariance {
	padding: 40px;
	background-color: #FF900E;
	border-radius: 5px;
	text-align: center;
	position: relative;
	margin-left: -39px;
	width: 43%;
	margin-top: -20%;
}
.expariance h1{
    font-size: 4em;
    font-weight: 700;
    color: #fff;
}
.expariance p{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
/* facts section style */
.facts-section{
    margin: 130px 0;
}
.facts-container{
    width: 75em;
    margin: auto;
}
.facts-title{
    width: 40%;
}
.facts-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 24px;
    color: #131313;
}
.facts-items{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
    
}
.fact-item{
    border: 1px solid #FF900E;
    padding: 40px 30px;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    transition: .4s;
    cursor: pointer;
}
.fact-item:hover{
    background: #FF900E;
    transform: translateY(-10px);
}
.fact-item:hover h2{
    color: #fff;
}
.fact-item:hover p{
    color: #fff;
}
.fact-item img{
    height: 50px;
    width: 50px;
}
.fact-item h2{
    margin: 10px 0;
    font-size: 25px;
    color: #424242;

}
/* portfolio section */
.portfolio{
    
}
.portfolio-container{
    width: 75em;
    margin: auto;
}
.portfolio-title{
    width: 60%;
}
.portfolio-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: ;
}
/* sponspor section style */
.sponspor{
    margin: 80px 0px;
}
.sponspor-container{
    width: 75em;
    margin: auto;
}
.sponspor-title{
    text-align: center;
    width: 50%;
    margin: auto;
}
.sponspor-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
}
.sponspor-thumnail{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.spo-img img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    transition: .4s;
}
.spo-img img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
    cursor: pointer;
}
/* footer section style */
.footer{
    text-align: center;
    width: 75em;
    background: #fff4e7;
    margin: auto;
    padding: 20px 0;
}








/* Responsive media quariy */
/* Mobile Device */
@media only screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 100%;
        
    }
    .menu ul a{
        margin-top: 10px;
        margin-right: 0px;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
    }
    /* brand section */
    .brand-sec{
        background: #fff4e7;
        padding: 20px 0 50px 0;
    }
    .brand-container{
        width: 100%;
    }
    .banner img{
        width: 80%;
        height: auto;
    }

    .brand-items h1{
        font-size: 3em;
        margin-bottom: 10px;
        color: #131313;
        font-weight: 700;
    }
    /* feature section responsive style */
    .feature-container{
        width: 100%;
    }
    .feature-items{
        flex-direction: column;
    }
    .feature-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.500em;
    }
    .feature-info{
        text-align: center;
        width: 80%;
        margin: auto;
    }
/* feature option responsive style */
    .feature-option{
        flex-direction: column;
        margin: 70px 0;
    }
    .feature-op-right{
        width: 90%;
        margin: auto;
        
    }
    .feature-op-left{
        width: 90%;
        margin:auto;
    }
    img{
        width: 100%;
        margin:auto;
    }
    .expariance{
        margin-left: 20%;
        width: 70%;
        padding: 30px;
        
    }
    .expariance h1{
        font-size: 40px;
        width: 80%;
        margin:auto;

    }
    .expariance p{
        font-size: 20px;
        width: 50%;
        margin: auto;

    }
    /* facts responsive style */
    .facts-container{
        width: 100%;
        margin: auto;
    }
    .facts-items{
        flex-direction: column;
        align-items: center;
    }
    .facts-title{
        width: 100%;
        text-align: center;
    }
    .fact-item{
        margin-bottom: 20px;
    }
    /* sponspor section */
    .sponspor-container{
        width: 100%;
        margin: auto;
    }
    .sponspor-thumnail{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .footer{
        width: 100%;
    }
    .footer p{
        width: 80%;
        margin: auto;
    }
}